.nav-item{
    font-weight: bold;
    margin-left: 50px;
}

.block{
    margin:150px 0px;
    align-items: center;
}
.innerblock{
    padding-top: 30px;
}

.btn{
    width: 200px;
    padding: 10px;
    font-weight: bold;
}